<!DOCTYPE html>
<html>
    <head>
        <title>NYT Mongo Scraper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <nav>
                <div class="nav-wrapper">
                    <a href="/"><h1>Mongo Scraper</h1></a>
                    <button id="scrape">Scrape Articles</button>
                    <button><a href="/saved">Saved Articles</a></button>
                    <button id="delete">Clear Articles</button>
                </div>
            </nav>   
        </div>
        {{{body}}}
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/public/app.js"></script>
</html>