<div class="jumbotron text-center">
    <h1>Mongo Scraper</h1>
</div>

<div class="container">
    <div class="card">
        <ul id ="article-list">

        
            {{#article}}
            <br>
        <div class="card">
        
            <a href= "{{link}}">{{title}}</a>
        <p>{{summary}}</p>
         </div>
         <br>
        {{/article}}


       
        
    

        </ul>
        
    </div>
    
</div>




<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="/public/app.js"></script>