<div class="jumbotron text-center">
    <h1>Mongo Scraper</h1>
</div>

<div class="container">
    <div class="card">
        <ul class="article-list">
            {{#each}}
        <a href="{{this.link}}">{{this.title}}</a>
        <p>{{this.summary}}</p>
        {{/each}}

        </ul>
        
    </div>
    
</div>