<nav class="navbar">
    <a href="/">Mongo Scraper</a>
    <button>
        Save an Article
    </button>
    <button>
        Clear the page
    </button>
</nav>

<div class="jumbotron text-center">
    <h1>Mongo Scraper</h1>
</div>



